/dist/
/.codex
/Godot_v4.4.1-stable_linux.x86_64

/ArtSyn_extension/build/
/ArtSyn_extension/build-*/
/ArtSyn_extension/bin/
/ArtSyn_extension/.sconsign.dblite
/ArtSyn_extension/*.os

/2d-platformer-demo/.godot/
/2d-platformer-demo/bin/
/2d-platformer-demo/model.pth
/2d-platformer-demo/models/
/2d-platformer-demo/addons/artsyn/bin
/2d-platformer-demo/addons/artsyn/bin_*/
/2d-platformer-demo/addons/artsyn/*.zip

/Real-Time-Style-Transfer/__pycache__/
/Real-Time-Style-Transfer/network/__pycache__/
/Real-Time-Style-Transfer/output.png
*.pyc
